.glass {
    background: rgba(250, 246, 246, 0.603);
    box-shadow: 0 2px 15px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(12.5px);
    border: 1px solid rgba(255, 255, 255, 0.718);
  }